body {
  font-family: "Underdog", system-ui;
  background-color: #FFFFFF;    
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.button {
  font-family: "Underdog",
  text-decoration: none;
  background-color: #0a0b0b;
  color: #a8323e;
  padding: 6px 6px 6px 6px;
  border-top: 3px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #CCCCCC;
  border-radius: 50%
}

.favorite-comic {
  text-align: center;
  margin-top: 2em;
}

.featured-comic {
  width: 700px;
  length: 3000px
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.featured-comic:hover {
  transform: scale(1.05);
}


nav {
  background-color: #0a0b0b; 
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff8f0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 1.2em;
}

nav a.active,
nav a:hover {
  text-decoration: underline;
  color: #d6e8e6; /* light blue-gray highlight */
}

main {
  padding: 2em;
  max-width: 900px;
  margin: auto;
}

.comic-container {
  display: flex;
  flex-direction: column;
  gap: 0em;
  align-items: center;
}

.comic-page {
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.about-page {
  text-align: center;
}

.profile-pic {
  width: 180px;
  border-radius: 50%;
  border: 5px solid #7a3b3b;
  margin-bottom: 1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #c1121f;
}

p {
  line-height: 1.6;
  color: #4b4b4b;
  font-family: "Poiret One", sans-serif;
}
